# stub from https://github.com/softprops/action-gh-release
name: Release 
on:
  push:
    tags:
      - "*.*.*"
  pull_request:
    branches: main

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Linux glibc image
        run: docker build .

      # - name: Build Linux musl image
      #   run: docker build -f Dockerfile.musl .

      - name: Compile executable on Linux glibc
        run: |
          mkdir -p build
          docker run \
            -v ./build:/root/scheme-langserver/build/ \
            $(docker build -q .) \
            bash -c 'source .akku/bin/activate
                     compile-chez-program run.ss --static
                     mv run build/scheme-langserver-x86_64-linux-glibc || exit 1
                     '

      # - name: Compile executable on Linux musl
      #   run: |
      #     mkdir -p build
      #     docker run \
      #       -v ./build:/root/scheme-langserver/build/ \
      #       $(docker build -f Dockerfile.musl -q .) \
      #       ash -c 'source .akku/bin/activate
      #               compile-chez-program run.ss --static
      #               mv run build/scheme-langserver-x86_64-linux-musl || exit 1
      #               '

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Scheme LangServer Auto-generated Build
          tag_name: automated_build
          files: |
            build/scheme-langserver-x86_64-linux-glibc
            build/scheme-langserver-x86_64-linux-musl
          body: |
            This is an automated release of Scheme LangServer.

            **Commit:** ${{ github.sha }}
            **Branch:** ${{ github.ref_name }}
            **Pipeline Run:** ${{ github.run_id }}

